.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #242C34;
}

:root{
    --dark: #242C34;
    --light: #F2F2F2;
}

html, body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

h1, h2, p{
    font-weight: 200;
    font-style: normal;
}

#sessao-image, #descricao-image, .container, #box-projetos{
        display: flex;
}

h1{
    text-align: center;
    font-size: 80px;
}

h2{
    text-align: left;
    font-size: 60px;  
}

p{
    font-size: 40px;
    text-align: justify;
}
/* Daqui para cima sao partes gerais do code*/



.nome{
    color: var(--light);
    font-size: 150px;
    margin-bottom: 0px;
}

#descricao-inicial{
    color: var(--light);
    font-size: 60px;
    margin-top: -50px;
}

#sessao-image{
    flex-direction: row;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#descricao-image{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 400px;
    padding-left: 80px;
}

.container{
    width: 100vw;
    flex-direction: column;
}

img{
    height: auto;
    width: 1300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 15px -4px, rgba(0, 0, 0, 0.3) 0px 0px 10px -1px;
    border-radius: 10px;
}
/* Daqui para cima é apenas partes do quadrado azul*/



#fundo-azulado{
    width: 100vw;
    height: justify;
    background-color: var(--dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 10px -4px, rgba(0, 0, 0, 0.3) 0px 1px 10px -1px;
}

#fundo-branco{
    width: 100%;
    padding: 30px;
}
/* Daqui para cima sao quadrados definidos*/



#projetos{
    padding-top: 100px;
    color: var(--dark);
    font-weight: 200;
    font-size: 80px;
    text-align: left;
    padding: 30px 300px;
}

.cardbox{
    width: 850px;
    height: 500px;
    background-color: var(--light);
    border-radius: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 7px 10px -3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -3px;
}

.box-projetos{
    flex-direction: row;
    align-items: center;
}

.descricao-geral{
    font-size: 40px;
    text-align: justify;
    padding-inline:300px;
}

.info-projeto p{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    max-width: 850px;
}

.projeto-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width:100%;
    gap: 30px;
    padding:0 300px;
    padding-bottom: 5%;
    box-sizing:border-box;
}
/* Daqui para cima sao definidos os projetos*/



#rodape{
    width: 100%;
    height: 120px;
    background-color: var(--dark);
}